header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(/home/martin/Bureau/coding_school/site_du_chef/site_du_chef/public/img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    p{
        font-size: 2.7em;
        font-style: italic;
    }
    .div_hover:hover{
        background-color: $red_chef;
    }
}

#bordure{
    position: relative;
    bottom: 1.5%;
    height: 2%;
    background-image: url(/home/martin/Bureau/coding_school/site_du_chef/site_du_chef/public/img/bottom_decoration_img.png);
    background-repeat: repeat;
}

.occasion{
    font-size: 2em;
    text-transform: uppercase;
}

.taste{
    font-size: 2em;
    color: $red_chef_txt;
}

.makes{
    font-size: 1.5em;
}

#container_nav{
    padding-left: 8%;
    padding-right: 8%;
}

.carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.bg_btn{
    background-color: $red_chef_txt;
}