// Section Story & Menu
#story_menu{
    background-image: url(/home/martin/Bureau/coding_school/site_du_chef/site_du_chef/public/img/main_bg.jpg);
    background-repeat: repeat;
    #div_story{
        background-color: white;
        border: solid 0.5px rgb(201, 201, 201);
    }
}

.border_menu{
    border-bottom: dotted 1px grey;
    padding: 2% 0;
    // padding-right: 0;
    margin-left: 5%;
    margin-right: 5%;
}
// Section Story & Menu