// Section Book
#section_book{
    background-image: url('../img/main_bg.jpg');
}

#div_border{
    border: solid  0.5px  rgb(201, 201, 201);
}

#form_book{
    background-image: url(../img/book_table_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 60%;
}

.div_form_w{
    width: 70%;
}

.form_radius{
    border-radius: 10px;
    margin: 5% 0;
    padding: 3% 5%;
}
// Section Book

