// Section Book
#section_book{
    background-image: url('../img/main_bg.jpg');
}

#div_border{
    border: solid  0.5px  rgb(201, 201, 201);
}

#form_book{
    background-image: url(../img/book_table_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 60%;
}

.div_form_w{
    width: 70%;
}

.form_radius{
    border-radius: 10px;
    margin: 5% 0;
    padding: 3% 5%;
}
// Section Book

// Section Blog
#img_blog_div{
    background-image: url(../img/blog_img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    border: 5px lightgrey solid;
    border-radius: 15px;
}

.span_blog_card{
    padding-top: 6%;
    border-radius: 15px;
    width: 80%;
}

#img_blog_div2{
    background-image: url(../img/blog_img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    border: 5px lightgrey solid;
    border-radius: 15px;
    #span_blog{
        margin-bottom: 80%;
    }
}

.p_blog{
    font-size: 1.5em;
}
// Section Blog